.menuBar{
 --menuBar-padding: 6px;
 --icon-height: 24px;

 width: calc(100% - 2 * var(--menuBar-padding));
 height: calc(var(--menuBar-padding) * 2 + var(--icon-height));

 display: grid;
 grid-template-columns: 1fr 1fr 1fr 12fr;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-items: center;
 align-items: center;

 padding: var(--menuBar-padding);

 background-color: #181818;

 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;

 .contact{
  font-family: "Kanit";
  font-size: 2rem;
  color: #FFFFFF;
  justify-self: center;
 }

 .phone{
  color:#FFFFFF;
  font-size: 2rem;
  justify-self: flex-end;
 }

 .box{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF80;

  a{
   line-height: 0;
  }

  .icon{
   font-size: 1.6rem;
  }

  .title{
   font-family: "Kanit";
   color: #FFFFFF;
   margin: 0;
   text-align: left;
  }

 }

}

@media screen and (max-width: 1024px){

 .menuBar{
  grid-template-columns: 1fr 1fr 1fr 12fr;
 }

}

@media screen and (max-width: 720px){
 
 .menuBar{
  grid-template-columns: 1fr 1fr 1fr 9fr;
 }

}

@media screen and (max-width: 540px){
 .menuBar{
  grid-template-columns: 1fr 1fr 1fr 6fr;

  .info{
   width:100%;
   text-align: center;
  }
 }
}

@media screen and (max-width: 469px) {
 .menuBar{
  grid-template-columns: 1fr 1fr 1fr 4fr;
 }
}

@media screen and (max-width: 400px){
 .menuBar{
  grid-template-columns: 1fr 1fr 1fr 3fr;

  .info{
   font-size:1.8rem;
  }
 }
}